# Google Keys for the search app
NEXT_PUBLIC_GOOGLE_API_KEY=
NEXT_PUBLIC_GOOGLE_CX_KEY=

# Form spree for the feedback app
NEXT_PUBLIC_FORMSPREE_CODE=

# PARA API key for para integration 
NEXT_PUBLIC_PARA_API_KEY=
PARA_API_KEY = 

# Alchemy API key and Gas policy Id
NEXT_PUBLIC_ALCHEMY_API_KEY=
NEXT_PUBLIC_ALCHEMY_GAS_POLICY_ID=

# Wallet connect project Id
NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=

# Score signer private key, for signing score transactions
# address : 0x8579F6A5a355280Dc1bc1219b5d5CAEA2319663B
SERVER_SIGNER_KEY=

# development environment
NODE_ENV = 'development'

# Mongo db uri for the upload and retrival of user share to the DB
MONGODB_URI  = 

# private key or byte hash to use as encryption key
ENCRYPTION_KEY=

# Retro OS details
NEXT_PUBLIC_RETRO_OS_VERSION=

# Infura key
NEXT_PUBLIC_INFURA_KEY=
# Blast RPC Project ID
NEXT_PUBLIC_BLAST_API_KEY=
# ZeroDev Project ID
NEXT_PUBLIC_ZERODEV_PROJECT_ID=

# PINATA DETAILS
PINATA_JWT=
PINATA_GATEWAY_URL=

